* {
    box-sizing: border-box;
    list-style: none;
} 

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner{
    height: 200px;
    min-height: 50px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 50%;
    background-attachment: fixed;
}

.menu_img{
    border-radius: 100%;

}

header{ 
    background: url(banner_background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 200px;
}

nav{
    overflow: hidden;
    position: sticky;
    z-index: 0;
    top: 0; 
    width: 100%;
}

.home_img{
    overflow: hidden;
    z-index: 0;
    top: 0; 
    width: 100%;
}

footer,nav {
    display: flex;
    /* overflow: hidden; */
    background-color: #333;
}

footer a,nav a {
    text-decoration: none;
    padding: 15px;
    text-align: center;
    float: left;
    color: white;
}

footer a:hover, nav a:hover{
    background-color: white;
    color: tomato;
}

h1,h2,section#rahul,footer{
    text-align: center;
}

section{
    padding-top: 25px;
    /* background-color: #333; */
}

section h1 span{
    background-color: rgb(170, 170, 59);
    padding: 10px 55px;
    border-radius: 20px;
    color: white;
}

section h2 span{
    color: black;
}

/* ch-6 se har ak item ke liye */

.flex-container-1{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-content:top;
}

.class1,.class3{
    width: 200px;
    height: 100%;
    text-align: center;
    background-color: lightblue;
    width: 371px;
    height: 510px;
    margin: 25px;
    border-radius: 3px;
    padding: 10px;
}

.class2{
    width: 200px;
    height: 100%;
    text-align: center;
    background-color: lightpink;
    width: 371px;
    height: 510px;
    margin: 25px;
    border-radius: 3px;
    /* position: relative; */
    top: -30px;
    padding: 10px;
}

.class1 a{
    background-color: rgb(79, 68, 68);
    font-weight: bold;
    color: white;
    padding: 10px 50px;
    background-size: px;
    border-radius: 2px;
}

.class1 img,.class2 img,.class3 img,.class4 img,.class5 img{
    margin: 5px;
    width: 350px;
    height: 200px;
}
.class4 img,.class5 img{
    width: 260px;
    height: 150px;
}
.class2 a, .class3 a,.class4 a,.class5 a{
    background-color: rgb(79, 68, 68);
    font-weight: bold;
    color: white;
    padding: 10px 50px;
    background-size: px;
    border-radius: 2px;
    /* top: 15px; */
}

/* .class1:hover,.class2:hover,.class3:hover{
    width: 200px;
    height: 100%;
    text-align: center;
    background-color: white;
    width: 380px;
    height: 510px;
    margin: 10px;
    border-radius: 3px;
    padding: 10px;
} */

.class1 a:hover,.class2 a:hover,.class3 a:hover,.class4 a:hover,.class5 a:hover{
    color: red;
}

.class4,.class5{
    width: 200px;
    height: 100%;
    text-align: center;
    background-color: lightblue;
    width: 276px;
    height: 510px;
    margin: 20px;
    border-radius: 3px;
    /* position: relative; */
    top: -30px;
    padding: 10px;
}

.class5{
    background-color: lightpink;
}


.flex-container-2{
    display:flexbox;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-content:top;
}


#box0{
    float: left;
    margin: 10px;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background-color: lightblue;
    padding: 2px;
}
#box1{
    float: right;
    margin: 10px;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background-color: lightblue;
    padding: 2px;
}
#p1{
    background: rgb(180, 185, 186);
    border-radius: 6px;
    padding: 10px;
}
#p0{
    background: rgb(180, 185, 186);
    border-radius: 6px;
    padding: 10px;
}
#p0,#p1{
    font-size: 30px;
}

.for_review{
    background: url(review.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    width: 800px;
    height: auto;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 15px;
    margin-bottom: 20px;
}

input[type="text"], input[type="email"], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}

fieldset{
    background-color: #fff;
    border: 1px solid #ccc;
}

input[type="submit"]{
    background-color: #4daea1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover{
    background-color: #4caf84;
}

section:nth-child(even){
    background-color: #ececec;
}

section:nth-child(odd){
    background-color: #999999;
}

img{
    padding: 0px 20px;
}


section h5{
    margin: 0px 130px;
}

.flex-align-right{
    margin-left: auto;
}

.profile_img{
    border-radius: 100px;
    padding: 30px;
}

.profile_name{
    font-size: 2em;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 4px;
    word-spacing: 10px;
    text-transform: uppercase;
    margin: 20px 0px 30px 0px;
}

.sm-handle a{
    background-color: rgb(125 125 125 / 25%);
    padding: 10px 15px;
    border-radius: 30px;
    margin: 5px 10px;
    text-decoration: none;
    font-size: 1.20em;
}

.sm-handle a:hover{
    background-color: rgb(30 30 30 / 25%);
}

.sm-handle a i{
    margin: 5px;
}

.yt_handle{
    color: #ff0000;
}
.insta_handle{
    color: #0c76a8;
}
.link_handle{
    color: #dd2a7b;
}

.about_us{
    margin: 50px;
}
.about_us h4{
    font-size: 1.45em;
    padding: 0px 10px;
    color: #120f5e;
}
.about_us h5{
    color: #1c1a3a;
    font-weight: 900;
    padding-bottom: 10px 0px 20px 0px;
}

@media screen and (max-width: 700px) {
    footer,nav{
        flex-direction: column;
        padding: 10px 0px;
    }

    .flex-align-right{
        margin-left: 0;
    }
}
